{% extends 'base.html' %}

{% block content %}

<h1 class="text-center">Events Page </h1> <br>

<h3 class="text-center">Current User Logged In : {{request.user.username}} 

{% if user.is_head == True %}
(Part of Core)
{% endif  %}

{% if user.is_authenticated == False %}
(No User logged In )
{% endif %}

</h3><br>

<button type="button" class="btn btn-primary btn-lg btn-block" onclick="location.href='{% url 'scrib_report' %}'" >Scribble Registration Data</button><br>

<button type="button" class="btn btn-primary btn-lg btn-block" onclick="location.href='{% url 'bolly_report' %}'" >Bollywood Registration Data</button><br>

<button type="button" class="btn btn-primary btn-lg btn-block" onclick="location.href='{% url 'meme_report' %}'" >Meme War Registration Data</button><br>

<button type="button" class="btn btn-primary btn-lg btn-block" onclick="location.href='{% url 'openmic_report' %}'" >Open Mic Registration Data</button><br>

<button type="button" class="btn btn-primary btn-lg btn-block" onclick="location.href='{% url 'chess_report' %}'" > Chess Registration Data</button><br>



{% endblock %}


