<div class="gmail_quote">
  <br>
  <u></u>
  <div style="margin: 0; padding: 0; background-color: #3d1554;">
    <table style="table-layout: fixed; vertical-align: top; min-width: 320px; border-spacing: 0; border-collapse: collapse; background-color: #3d1554; width: 100%;" role="presentation" width="100%" cellspacing="0" cellpadding="0" bgcolor="#3d1554">
      <tbody>
        <tr style="vertical-align: top;" valign="top">
          <td style="word-break: break-word; vertical-align: top;" valign="top">
            <div style="background-color: transparent;">
              <div class="block-grid" style="min-width: 320px; max-width: 650px; word-wrap: break-word; word-break: break-word; margin: 0 auto; background-color: transparent;">
                <div style="border-collapse: collapse; display: table; width: 100%; background-color: transparent;">
                  <div class="col" style="min-width: 320px; max-width: 650px; display: table-cell; vertical-align: top; width: 650px;">
                    <div class="col_cont" style="width: 100%!important;">
                      <div style="border: 0px solid transparent; padding: 35px 0px 0px 0px;">
                        <div style="padding-right: 0px; padding-left: 0px;" align="center">
                          <img style="text-decoration: none; height: auto; border: 0; width: 100%; max-width: 325px; display: block;" src="https://ci5.googleusercontent.com/proxy/teadQ79I49m8LKTv0kO-SsvNSqdclETuapZkbjZAuqi-62xFYM3YD9sGhvD246S0PlClU3m2GiaDh0BlRrdM_XSBCtOE50mPtxBVT6YJ5rw7Ht-k1u8JxZwjRBTFV0aCRoDiveQurSb1FtQTR8ElZnyhtMvA-HP3GWJxd9OizA=s0-d-e1-ft#https://cdn.discordapp.com/attachments/822123292357820426/822123355729297438/techelaFONTS_transparent-01.png" width="325" align="center" border="0">
                        </div>
                        <div style="padding-right: 0px; padding-left: 0px;" align="center">
                          <img style="text-decoration: none; height: auto; border: 0; width: 100%; max-width: 650px; display: block;" src="https://ci4.googleusercontent.com/proxy/YzMyeXi3RqLeuOxAtt-nj2057uJVmbRWTDjUvPrxS2KcY25-NDbq47ZxWCYkeffFzAUmyXcsuAO74Huf1jQQ7rHo3IxPbUdJLDRXGYkCdTPUCXM1YkPkxMq3sgJHd0GXUA=s0-d-e1-ft#https://d1oco4z2z1fhwp.cloudfront.net/templates/default/1611/content-top_2.png" width="650" align="center" border="0">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div style="background-color: transparent;">
              <div class="block-grid" style="min-width: 320px; max-width: 650px; word-wrap: break-word; word-break: break-word; margin: 0 auto; background-color: transparent;">
                <div style="border-collapse: collapse; display: table; width: 100%; background-color: transparent;">
                  <div class="col" style="min-width: 320px; max-width: 650px; display: table-cell; vertical-align: top; width: 642px;">
                    <div class="col_cont" style="width: 100%!important;">
                      <div style="border-top: 0px solid transparent; border-left: 4px solid #57366e; border-bottom: 0px solid transparent; border-right: 4px solid #57366e; padding: 55px 0px 60px 0px;">
                        <div style="color: #fbd711; font-family: Poppins,Arial,Helvetica,sans-serif; line-height: 1.2; padding: 10px;">
                          <div style="line-height: 1.2; font-size: 12px; color: #fbd711; font-family: Poppins,Arial,Helvetica,sans-serif;">
                            <p style="font-size: 14px; line-height: 1.2; word-break: break-word; text-align: center; margin: 0;">
                              <strong>
                                <span style="font-size: 30px;">Hello {{ name }} </span>
                              </strong>
                            </p>
                          </div>
                        </div>
                        <div style="color: #ffffff; font-family: 'Lato',Tahoma,Verdana,Segoe,sans-serif; line-height: 1.2; padding: 10px 50px 10px 50px;">
                          <div style="font-size: 12px; line-height: 1.2; font-family: 'Lato',Tahoma,Verdana,Segoe,sans-serif; color: #ffffff;">
                            <p style="font-size: 30px; line-height: 1.2; word-break: break-word; text-align: center; font-family: Lato,Tahoma,Verdana,Segoe,sans-serif; margin: 0;">
                              <span style="font-size: 30px;">Thank you for registering!!!</span>
                            </p>
                            <p style="font-size: 30px; line-height: 1.2; word-break: break-word; text-align: center; font-family: Lato,Tahoma,Verdana,Segoe,sans-serif; margin: 0;">
                              <span style="font-size: 30px;">We are so glad you registered for {{ event }}.</span>
                            </p>
                            <p style="font-size: 30px; line-height: 1.2; word-break: break-word; text-align: center; font-family: Lato,Tahoma,Verdana,Segoe,sans-serif; margin: 0;">
                              <span style="font-size: 30px;">Follow our instagram for regular updates regarding the events.</span>
                            </p>
                            <p style="font-size: 12px; line-height: 1.2; word-break: break-word; font-family: Lato,Tahoma,Verdana,Segoe,sans-serif; margin: 0;">&nbsp;</p>
                          </div>
                        </div>
                        <div style="padding: 12px 10px 12px 10px;" align="center">
                          <a href="https://www.instagram.com/techela.csit/" style="text-decoration: none; display: inline-block; color: #000000; background-color: #fbd711; border-radius: 30px; width: auto; padding-top: 10px; padding-bottom: 10px; font-family: Poppins,Arial,Helvetica,sans-serif; text-align: center; word-break: keep-all; border: 1px solid #fbd711;" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.instagram.com/techela.csit/&amp;source=gmail&amp;ust=1617454113486000&amp;usg=AFQjCNFwhvlLYitnG0ftucZCSCUbwtwO6Q" rel="noopener">
                            <span style="padding-left: 45px; padding-right: 45px; font-size: 18px; display: inline-block; letter-spacing: undefined;">
                              <span style="font-size: 16px; line-height: 2; word-break: break-word;">
                                <span style="font-size: 18px; line-height: 36px;">
                                  <strong>INSTAGRAM</strong>
                                </span>
                              </span>
                            </span>
                          </a>
                        </div>
                        <div style="padding: 12px 10px 12px 10px;" align="center">
                          <a href="https://www.instagram.com/techela.csit/" style="text-decoration: none; display: inline-block; color: #000000; background-color: #fbd711; border-radius: 30px; width: auto; padding-top: 10px; padding-bottom: 10px; font-family: Poppins,Arial,Helvetica,sans-serif; text-align: center; word-break: keep-all; border: 1px solid #fbd711;" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.instagram.com/techela.csit/&amp;source=gmail&amp;ust=1617454113486000&amp;usg=AFQjCNFwhvlLYitnG0ftucZCSCUbwtwO6Q" rel="noopener">
                            <span style="padding-left: 45px; padding-right: 45px; font-size: 18px; display: inline-block; letter-spacing: undefined;">
                              <span style="font-size: 16px; line-height: 2; word-break: break-word;">
                                <span style="font-size: 18px; line-height: 36px;">
                                  <strong>Rulebook</strong>
                                </span>
                              </span>
                            </span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div style="background-color: transparent;">
              <div class="block-grid" style="min-width: 320px; max-width: 650px; word-wrap: break-word; word-break: break-word; margin: 0 auto; background-color: transparent;">
                <div style="border-collapse: collapse; display: table; width: 100%; background-color: transparent;">
                  <div class="col" style="min-width: 320px; max-width: 650px; display: table-cell; vertical-align: top; width: 650px;">
                    <div class="col_cont" style="width: 100%!important;">
                      <div style="border: 0px solid transparent; padding: 0px;">
                        <div style="padding-right: 0px; padding-left: 0px;" align="center">
                          <img style="text-decoration: none; height: auto; border: 0; width: 100%; max-width: 650px; display: block;" src="https://ci4.googleusercontent.com/proxy/yVcZpOJKtK_WID-_zatkVBTWEPmP1tBqj0Bq9JLNe_PuMGIyNOc6zy5-shbuJgjQHknw8-vkTARjQr9DtHlyGGzk_TpdZuoe_743pCTbUBXSrbmgl2V0NRddLMsJ505CnyMpIw=s0-d-e1-ft#https://d1oco4z2z1fhwp.cloudfront.net/templates/default/1611/content-bottom_1.png" width="650" align="center" border="0">
                        </div>
                        <div style="color: #b0a7b7; font-family: Poppins,Arial,Helvetica,sans-serif; line-height: 1.5; padding: 15px 10px 20px 10px;">
                          <div style="font-size: 12px; line-height: 1.5; color: #b0a7b7; font-family: Poppins,Arial,Helvetica,sans-serif;">
                            <p style="font-size: 16px; line-height: 1.5; word-break: break-word; margin: 0;">
                              <span style="font-size: 16px;">For further information:</span>
                            </p>
                            <p style="font-size: 16px; line-height: 1.5; word-break: break-word; margin: 0;">
                              <span style="font-size: 16px;">Aayushi Verma</span>
                            </p>
                            <p style="font-size: 16px; line-height: 1.5; word-break: break-word; margin: 0;">
                              <span style="font-size: 16px;">Head of Student Relations and Publicity</span>
                            </p>
                            <p style="font-size: 16px; line-height: 1.5; word-break: break-word; margin: 0;">
                              <span style="font-size: 16px;">+91 7043214270</span>
                            </p>
                            <p style="font-size: 16px; line-height: 1.5; word-break: break-word; margin: 0;">
                              <span style="font-size: 16px;">
                                <a href="mailto:aayushi.verma.btech2018@sitpune.edu.in" target="_blank" rel="noopener">aayushi.verma.btech2018@ 
                                  <wbr>sitpune.edu.in
                                </a>
                              </span>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
